---
export interface InvoiceLines {
  InvoiceLineId: number;
  UnitPrice: number;
  Quantity: number;
  InvoiceId: number;
  TrackId: number;
}

const res = await fetch('http://127.0.0.1:8000/invoice_lines/');
const invoicelines: InvoiceLines[] = await res.json()

import Button from '../Button.astro';
---

<h2 class="text-white text-3xl font-bold text-center my-6">
  Lista de Detalles de Facturas
</h2>

<Button
  namecreate="Crear Detalle de Factura"
  pagecreate="http://127.0.0.1:8000/docs#/invoice%20lines/create_invoice_line_invoice_lines__post"
  nameupdate="Actualizar Detalle de Factura"
  pageupdate="http://127.0.0.1:8000/docs#/invoice%20lines/update_invoice_line_invoice_lines__invoice_line_id__put"
  namedelete="Eliminar Detalle de Factura"
  pagedelete="http://127.0.0.1:8000/docs#/invoice%20lines/delete_invoice_line_invoice_lines__invoice_line_id__delete"
/>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {invoicelines.map((item) => (
    <div class="border border-gray-600 rounded-lg p-6 shadow hover:shadow-lg hover:scale-105 transition transform duration-200 text-center bg-slate-900/60 backdrop-blur-sm self-center">
      <div class="flex justify-between item-start mb-3">
        <h4 class="text-xs text-gray-500">ID (PK): {item.InvoiceLineId}</h4>
        <p class="text-xl text-green-400 font-bold">${item.UnitPrice.toFixed(2)}</p>
      </div>

      <h3 class="text-xl text-white font-semibold mb-4 border-b border-gray-700 pb-2">Cantidad: {item.Quantity}</h3>

      <div class="mt-4 text-xs text-gray-400 space-y-1">
        <p>Invoice ID: {item.InvoiceId}</p>
        <p>Track ID: {item.TrackId}</p>
      </div>
    </div>
  ))}
</div>